<template>
<section id="chatbot-app" class="chatbot">
    <transition name="fade" mode="out-in">
        <div class="chatbot__expanded" v-if="isExpanded">
            <!-- Display Header -->
            <header class="chatbot__header">
                <div class="chatbot__icon"><img :src="chatbotIcon" alt="bot icon"></div>
                <div class="chatbot__header__text">{{ chatbotName }}</div>
                <i class="material-icons chatbot__iicon close" @click="collapse()">close</i>
            </header>

            <main class="chatbot__wrapper chatbot__ai-window" id="chat-window">

                <!-- Display Welcome Message -->
                <div class="chatbot__welcome-wrapper" v-if="answers.length == 0 && online == true">
                    <div v-if="isVisitorFromNZ">
                        <h1 class="chatbot__title mdc-typography--headline">
                            {{config.locale.strings.welcomeTitleNZ}}
                        </h1>
                        <p class="mdc-typography--body2" v-html="config.locale.strings.welcomeDescriptionNZ"></p>
                    </div>
                    <div v-else>
                        <h1 class="chatbot__title mdc-typography--headline">
                            {{config.locale.strings.welcomeTitleOutsideNZ}}
                        </h1>
                        <p class="mdc-typography--body2" v-html="config.locale.strings.welcomeDescriptionOutsideNZ"></p>
                    </div>

<!--                    <div class="material-icons down">arrow_downward</div>-->
                </div>

                <!-- Display offline message -->
                <div v-if="answers.length == 0 && online == false">
                    <h1 class="chatbot__title mdc-typography--headline">
                        <div class="material-icons chatbot__up">cloud_off</div>
                        <br>
                        <br>
                            {{config.locale.strings.offlineTitle}}

                            <p class="mdc-typography--body2">{{config.locale.strings.offlineDescription}}</p>
                    </h1>
                </div>

                <!-- Chat window -->
                <table v-for="a in answers" class="chatbot__chat-window" :key="a.responseId">
                    <tr>
                        <td>
                            <div class="chatbot__chat-window__datetime">{{a.datetime | formatDatetime}}</div>
                        </td>
                    </tr>
                    <!-- Your messages -->
                    <tr>
                        <td class="chatbot__bubble">{{a.queryText}}</td>
                    </tr>

                    <!-- Dialogflow messages -->
                    <tr v-if="a.isLoaded">
                        <td>

                            <!-- Bot message types / Speech -->
        <!--                    <div v-if="a.outputAudio" class="bubble bot">-->
        <!--                        {{a.outputAudio}}-->
        <!--                    </div>-->

                            <!-- Bot message types / Text -->
                            <div v-if="a.queryResult.fulfillmentText" class="chatbot__bubble chatbot__bot">
                                <div class="chatbot__icon"><img :src="chatbotIcon" alt="bot icon"></div>
                                <div class="chatbot__text">{{ a.queryResult.fulfillmentText }}</div>
                            </div>
                        </td>
                    </tr>

                    <tr v-if="a.isLoaded">
                        <td>
                            <!-- Google Assistant output -->
                            <div v-for="(r, index) in a.queryResult.fulfillmentMessages" :key="index" class="chatbot__bubble chatbot__bot">

                                <!-- Bot message types / Card -->
                                <div class="mdc-card" v-if="r.message == 'basic_card'">
                                    <img :title="r.image.accessibilityText" :alt="r.image.accessibilityText" class="mdc-card__media-item" :src="r.image.url" v-if="r.image">
                                    <section class="mdc-card__primary">
                                        <h1 class="mdc-card__title">{{r.title}}</h1>
                                        <br>
                                        <h2 class="mdc-card__subtitle">{{r.subtitle}}</h2>
                                    </section>
                                    <section class="mdc-card__supporting-text">
                                        {{r.formattedText}}
                                    </section>
                                    <section class="mdc-card__actions" v-for="(button, index) in r.buttons" :key="index">
                                        <a class="mdc-button mdc-button--compact themed mdc-card__action" target="_blank" :href="button.openUrlAction.url">{{button.title}} <i class="material-icons openlink">open_in_new</i></a>
                                    </section>
                                </div>

                                <!-- Bot message types / Carousel Card -->
                                <div class="slider" v-else-if="r.message == 'carousel_card'">
                                    <carousel
                                            :perPage="1"
                                            :navigationEnabled="true"
                                            :paginationEnabled="false"
                                            navigationNextLabel="<button class='mdc-fab mdc-fab--mini material-icons rightnav'><span class='mdc-fab__icon'>keyboard_arrow_right</span></button>"
                                            navigationPrevLabel="<button class='mdc-fab mdc-fab--mini material-icons leftnav'><span class='mdc-fab__icon'>keyboard_arrow_left</span></button>"
                                            :navigationClickTargetSize="0"
                                            :loop="true">

                                        <slide v-for="item in r.items" :key="item.id">
                                            <div class="mdc-card slide">
                                                <img class="mdc-card__media-item" :src="item.image.url" v-if="item.image">
                                                <section class="mdc-card__primary">
                                                    <h1 class="mdc-card__title themed" @click="autosubmit(item.optionInfo.key)">{{item.title}}</h1>
                                                </section>
                                                <section class="mdc-card__supporting-text">
                                                    {{item.description}}
                                                </section>
                                            </div>
                                        </slide>
                                    </carousel>
                                </div>

                                <!-- Bot message types / List -->
                                <div class="mdc-list-group mdc-card" v-else-if="r.message == 'list_card'">
                                    <h3 class="mdc-list-group__subheader">{{r.title}}</h3>
                                    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list" v-for="(item, index) in r.items" :key="index" @click="autosubmit(item.optionInfo.key)">
                                        <li class="mdc-list-item">
                                            <img :title="item.image.accessibilityText" :alt="item.image.accessibilityText" class="mdc-list-item__start-detail" width="56" height="56" :src="item.image.url" v-if="item.image"/>
                                            <span class="mdc-list-item__text">
                                                {{item.title}}
                                            <span class="mdc-list-item__text__secondary">{{item.description}}</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Bot message types / Link Chip -->
                                <div v-else-if="r.message == 'link_out_chip'" class="chips">
                                    <a class="suggestion link" :href="r.url" target="_blank">
                                        {{r.destinationName}} <i class="material-icons openlink">open_in_new</i>
                                    </a>
                                </div>

                                <!-- Bot message types / Link Out Suggestion -->
                                <div v-else-if="r.message == 'linkOutSuggestion'">
                                    <div class="chatbot__icon"><img :src="chatbotIcon" alt="bot icon"></div>
                                    <div class="chatbot__text">
                                        <a class="suggestion" :href="r.linkOutSuggestion.uri" target="_blank">
                                            {{r.linkOutSuggestion.destinationName}} <i class="material-icons openlink">open_in_new</i>
                                        </a>
                                    </div>
                                </div>

                                <!-- Bot message types / Suggestion Chip -->
                                <div v-else-if="r.message == 'suggestions'" class="chips">
                                    <div class="suggestion" @click="autosubmit(s.title)" v-for="(s, index) in r.suggestions.suggestions" :key="index">
                                        {{s.title}}
                                    </div>
                                </div>

                                <!-- Bot message types / Google Suggestion Chip -->
<!--                                <div v-if="r.unknown == true" class="google-chip chips">-->
<!--                                    <a class="suggestion" :href="'https://www.google.com/search?q=' + r.text" target="_blank">-->
<!--                                        Search for "{{r.text}}" on Google <i class="material-icons openlink">search</i>-->
<!--                                    </a>-->
<!--                                </div>-->

                            </div>
                        </td>
                    </tr>
                    <tr v-else>
                        <td>
                            <div class="chatbot__bubble chatbot__bot">
                                <div class="chatbot__icon"><img :src="chatbotIcon" alt="bot icon"></div>
                                <div class="chatbot__text">
                                    <div class="typing-indicator">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <a id="chatbot__bottom"></a>
            </main>

            <!-- The input -->
            <div class="chatbot__query">
                <div class="chatbot__wrapper">
                    <input :aria-label="config.locale.strings.queryTitle" autocomplete="off" v-model="query" class="chatbot__queryform" @keyup.enter="submit()" :placeholder="config.locale.strings.queryTitle" autofocus type="text">
                    <i class="material-icons chatbot__iicon send" @click="submit()">send</i>
                </div>
            </div>
        </div>
        <div class="chatbot__collapsed" v-else>
            <div class="chatbot__icon">
                <img :src="chatbotIcon" alt="bot icon" @click="expand()">
            </div>
        </div>
    </transition>
</section>
</template>

<style lang="sass">
@import "App.sass"
</style>

<script>
import uuidv4 from "uuid/v4";
import axios from "axios";
import config from "../config";
import moment from 'moment';

const sessionId = uuidv4(); // Random Session ID
const apiUrl = document.getElementById("chatbot-app").dataset.chatbotEndpoint;

export default {
  name: "chatbot-app",
  data: function() {
    return {
      answers: [],
      query: "",
      speech: config.locale.strings.voiceTitle,
      micro: false,
      muted: config.app.muted,
      online: navigator.onLine,
      chatbotIcon: null,
      chatbotName: null,
      isExpanded: false,
      isVisitorFromNZ: false,
      config
    };
  },
  created() {
      fetch('https://extreme-ip-lookup.com/json')
          .then( res => res.json())
          .then(response => {
              response.countryCode === 'NZ' ? this.isVisitorFromNZ = true : this.isVisitorFromNZ = false;
          })
          .catch((data, status) => {
              console.log('IP details request failed');
          })
  },
    filters: {
    formatDatetime: function (value) {
      return moment(value).isSame(moment(), 'd') ? 'Today ' + moment(value).format('h:mm A') : moment(value).format('DD/MM/YYYY h:mm A');
    }
  },
  watch: {
    answers: function(val) {
      setTimeout(() => {
        document.querySelector("#chatbot__bottom").scrollIntoView({
          behavior: "smooth"
        });
      }, 2); // if new answers arrive, wait for render and then smoothly scroll down to #bottom selector, used as anchor
    }
  },
  beforeMount: function () {
    this.chatbotIcon = document.getElementById("chatbot-app").dataset.chatbotIcon;
    this.chatbotName = document.getElementById("chatbot-app").dataset.chatbotName;
  },
  methods: {
    expand() {
      this.isExpanded = true;
    },
    collapse() {
      this.isExpanded = false;
    },
    submit() {
      let detectEndpoint =
        apiUrl +
        "detect?" +
        "sessionId=" +
        sessionId +
        "&langCode=" +
        config.locale.settings.recognitionLang +
        "&query=" +
        this.query;

      let preResponse = {
          datetime: moment().format(),
          isLoaded: false,
          queryText: this.query
      };
      this.answers.push(preResponse);
      this.query = "";

      axios.get(detectEndpoint).then(response => {
        // response.data.datetime = response.headers.date;
        response = response.data; // Get Actual Data
        console.log(response);
        if (
          response.queryResult.action == "input.unknown" &&
          this.config.app.googleIt == true
        ) {
          response.queryResult.fulfillmentMessages[0].unknown = true;
          response.queryResult.fulfillmentMessages[0].text =
            response.queryResult.resolvedQuery;
        } // if the googleIt is enabled, show the button

        this.answers[this.answers.length - 1].responseId = response.responseId
        this.answers[this.answers.length - 1].queryResult = response.queryResult;
        this.answers[this.answers.length - 1].webhookStatus = response.webhookStatus;
        this.answers[this.answers.length - 1].isLoaded = true;

        // this.handle(response); // <- handle the response in handle() method
        // this.speech = config.locale.strings.voiceTitle; // <- reset query and speech
      })
      .finally(function () {
          setTimeout(() => {
              document.querySelector("#chatbot__bottom").scrollIntoView({
                  behavior: "smooth"
              });
          }, 2);
      });
    },
    // handle(response) {
    //   if (
    //     response.outputAudio ||
    //     response.queryResult.fulfillmentMessages[0].platform ==
    //       "ACTIONS_ON_GOOGLE"
    //   ) {
    //     let speech = new SpeechSynthesisUtterance(
    //       response.outputAudio ||
    //         response.queryResult.fulfillmentMessages[0].simpleResponses
    //           .simpleResponses[0].textToSpeech
    //     );
    //     speech.voiceURI = "native";
    //     speech.lang = config.locale.settings.speechLang;
    //
    //     if (this.muted == false) window.speechSynthesis.speak(speech); // <- Speech output if microphone is allowed
    //   }
    // },
    autosubmit(suggestion) {
      this.query = suggestion;
      this.submit();
    }
    // mute(mode) {
    //   this.muted = mode;
    // },
    // microphone(mode) {
    //   this.micro = mode;
    //   let self = this; // <- correct scope
    //
    //   if (mode == true) {
    //     let recognition = new webkitSpeechRecognition(); // <- chrome speech recognition
    //
    //     recognition.interimResults = true;
    //     recognition.lang = config.locale.settings.recognitionLang;
    //     recognition.start();
    //
    //     recognition.onresult = function(event) {
    //       for (var i = event.resultIndex; i < event.results.length; ++i) {
    //         self.speech = event.results[i][0].transcript;
    //       }
    //     };
    //
    //     recognition.onend = function() {
    //       recognition.stop();
    //       self.micro = false;
    //       self.autosubmit(self.speech);
    //     };
    //   }
    // }
  }
};
</script>