<template>
	<div id="admin-page">
		<div class="dialogback" :class="{ activeSelector: (!userMenuState) }" v-on:click="closeAll()"></div>
		<div class="header">
			<router-link :to="defaultURL()"><div class="logo bannerbot">BannerBot</div></router-link>
			<div class="menu">
				<navigation-menu v-bind:r="r"></navigation-menu>
			</div>
			<div class="usermenu">
				<ul class="dropdown usermenu" :class="{ collapsed: userMenuState }" v-on:click="userMenuStateToggle()">
					<li class="current">{{ userName() }}</li>
					<div class="items">
						<li class="option" v-on:click="userMenuGuide()">User guide</li>
						<li class="option" v-on:click="userMenuLogout()">Logout</li>
					</div>
				</ul>
			</div>
			<div class="logo vendor"></div>
		</div>
		<div class="builder">
			<div class="app">
				<router-view/>
			</div>
		</div>
		<div class="footer">
			<div class="links">
				<span v-if="!displayActions" v-on:click="showModal('license')">License Agreement</span>
				<span v-if="!displayActions" v-on:click="showModal('release')">Release Notes</span>
			</div>
			<div class="buttons">
				<div class="btn save" :class="{ ready: bannerActionSaveReady }" v-on:click="bannerActionSave()" v-if="displayActions">Save as draft</div>
				<div class="btn publish" v-on:click="bannerActionPublish()" v-if="displayActions">Publish</div>
			</div>
		</div>
		<div class="dialogback" :class="{ active: modalLicense || modalRelease }" v-on:click="hideModal()"></div>
		<div class="dialogue license" :class="{ active: modalLicense }">
			<div class="content">
				<h2>License agreement</h2>
				<div v-html="licenseAgreement()"></div>
			</div>
			<div class="close" v-on:click="hideModal()"></div>
		</div>
		<div class="dialogue release" :class="{ active: modalRelease }">
			<div class="close" v-on:click="hideModal()"></div>
		</div>

	</div>
</template>

<script>
import { EventBus } from './event-bus.js';

import NavigationMenu from './admin/components/navigationmenu'

import shared from './../vendor/js/shared';


export default{
	name: 'AdminPage',
	components: { NavigationMenu },
	data() {
		return {
			bannerActionSaveReady: false,
			displayActions: false,
			userMenuState: true,
			r: '',
			modalLicense:false,
			modalRelease:false,
		}
	},
	created() {
		EventBus.$on('bannerActionSaveReady', this.bannerActionSaveReadyEvent );
		this.licenseAgreement = shared.licenseAgreement;
	},
	beforeDestroy() {
		EventBus.$off('bannerActionSaveReady', this.bannerActionSaveReadyEvent );
	},
	updated() {
		this.updateNavigationMenu(this.$route.path);
		this.updateActions(this.$route.params);
	},
	methods: {
		closeAll: function () {
			this.userMenuStateClose();
		},
		userMenuGuide: function () {
			setTimeout(function () {
				this.userMenuStateClose();
			}.bind(this), 300);
			shared.openUserGuide();
		},
		userMenuLogout: function () {
			// trigger Laravel form
			this.userMenuStateClose();
			document.getElementById('logout-form').submit();
		},
		userMenuStateToggle: function () {
			this.userMenuState = !this.userMenuState;
		},
		userMenuStateClose: function () {
			this.userMenuState = true;
		},
		userName: function () {
			return USER_NAME;
		},
		
		version: function () {
			return BANNERBOT_VERSION;
		},
		
		defaultURL: function () {
			return this.$aclCheck('_init_');
		},
		
		showModal: function (modal) {
			if (modal == 'license') {
				this.modalLicense = true;
			} else {
				this.modalRelease = true;
			}
		},
		hideModal: function () {
			this.modalLicense = false;
			this.modalRelease = false;
		},
		updateActions: function (p) {
			if (this.$isset(p.category)
				&& this.$isset(p.bannerSize)
				&& this.$isset(p.bannerid)
				&& this.$isset(p.bannerversion)
			) {
				// as soon as we have all banner details, display action buttons
				this.displayActions = true;
			} else {
				// in all other cases just usual links
				this.displayActions = false;
				this.bannerActionSaveReady = false;
			}
		},
		bannerActionSave: function () {
			EventBus.$emit("bannerActionSave", false );
		},
		bannerActionPublish: function () {
			EventBus.$emit("bannerActionPublish", false ); 
		},
		bannerActionSaveReadyEvent: function (evt) {
			this.bannerActionSaveReady = !evt.saving;
		},
		updateNavigationMenu: function (c) {
			if (c) {
				this.r = c;
			}
		}
	}
}
</script>
