<template>
	<div class="loading" v-if="loading">
		<img class="loader-animation" src="/img/loader/main.svg">
	</div>
	<div id="banners" v-else="loading">
		<preview-banner></preview-banner>
		<div class="dialogback" :class="{ active: (settingsDialogState || alertDialogState), activeSelector: (!selectorState || !versionSelectorState) }" v-on:click="closeAll()"></div>
		<div class="subheader" :class="{ hidden: addBannerDialogState }">
			<div class="button settings" v-on:click="settingsDialogOpen()"></div>
			<div class="button preview" v-on:click="previewDialogOpen()"></div>
			<banners-vendor
				v-bind:bannerData = "bannerData"
				v-bind:bannerID = "bannerID"
				v-bind:bannerVersion = "bannerVersion"
				v-bind:bannerSize = "bannerSize"
				></banners-vendor>
			<ul v-if="bannersList && bannerID" class="dropdown" :class="{ collapsed: selectorState }" v-on:click="selectorToggle()">
				<li class="current">{{bannersList[bannerID].title}}</li>
				<div class="items">
				<li v-for="item in bannersList" class="option" :class="{ active: item.ID == bannerID, new: (item.ID == -1) }" v-on:click="selectorSelect(item.ID)">
					{{item.title}}
				</li>
				<li v-if="!bannerNew" class="add-banner" v-on:click="addBannerDialogOpen()"><span></span> Add new</li>
				</div>
			</ul>
			<ul v-if="bannersVersionsList && bannerVersion" class="dropdown small" :class="{ collapsed: versionSelectorState, oneItem: versionSelectorOneItem }" v-on:click="versionSelectorToggle()">
				<li class="current">{{bannersVersionsList[bannerVersion].title}}</li>
				<div class="items">
				<li v-for="item in bannersVersionsList" class="option" :class="{ active: ( item.ID == bannerVersion ) }" v-on:click="versionSelectorSelect(item.ID)">
					{{item.title}}
				</li>
				</div>
			</ul>
		</div>
		<div v-if="bannerData" id="banners-items" class="banners" :class="bannersClass()">
			<banner-item
					v-for="item in bannerData.Frames"
					v-bind:key="item._vid"
					v-bind:bannerID = "bannerID"
					v-bind:bannerVersion = "bannerVersion"
					v-bind:bannerSize = "bannerSize"
					v-bind:item="item"
				>
				</banner-item>
		</div>
		<div class="dialogue settings" :class="{ active: settingsDialogState }">
			<h2>Settings</h2>
			<div class="form-group">
				<label>Banner Name</label>
				<input placeholder="Banner Name" v-model="bannerName">
			</div>
			<div class="form-group">
				<label>{{adTitle}}</label>
				<input :placeholder="adTitle" v-model="adID">
			</div>
			<div class="form-group">
				<label>Click through URL</label>
				<input placeholder="Click through URL" v-model="clickThroughURL">
			</div>
            <div class="form-group">
                <label>Frame Time</label>
                <input placeholder="Leave blank to default value" v-model="frameTime">
            </div>
			<div class="form-group buttons">
				<div class="update btn right" v-on:click="settingsDialogUpdate()">Update</div>
				<div class="delete btn left" v-on:click="deleteDialogOpen()">Delete</div>
				<div v-if="versionPublishedAvailable" class="unpublish btn left" v-on:click="unpublishDialogOpen()">Unpublish</div>
			</div>
			<div class="close" v-on:click="settingsDialogClose()"></div>
		</div>
		<div class="overlay add-new-banner" :class="{ active: addBannerDialogState }">
			<div class="container">
				<div class="subheader">
					<h1>Add New Banner</h1>
				</div>
				<input class="banner-name" placeholder="New Banner Name" v-model="bannerName">
				<input class="ad-id" :placeholder="adTitle" v-model="adID">
			</div>
			<div class="close" v-on:click="addBannerDialogClose()"></div>
			<div class="save-block" v-if="addBannerDialogState && bannerName != ''">
				<button v-on:click="addBannerDialogAdd()" class="btn">Next</button>
			</div>

		</div>
		<div class="dialogue alert" :class="{ active: alertDialogState }">
			<div class="message">{{alert.message}}</div>
			<div class="form-group buttons" v-if="alert.swap_buttons">
				<div class="ok btn left" :class="alert.ok_style" v-on:click="alertDialogOk()">{{alert.ok}}</div>
				<div class="cancel btn right" :class="alert.cancel_style" v-on:click="alertDialogCancel()">{{alert.cancel}}</div>
			</div>
			<div class="form-group buttons" v-else>
				<div class="cancel btn left" :class="alert.cancel_style" v-on:click="alertDialogCancel()">{{alert.cancel}}</div>
				<div class="ok btn right" :class="alert.ok_style" v-on:click="alertDialogOk()">{{alert.ok}}</div>
			</div>
		</div>
		<div class="overlay save" :class="{ active: saveDialogState }">
			<div class="progress-bar" :class="{toggler: saveLogTrigger}">
				<div v-for="(item) in saveLog" class="log-item item" :class="item.type" :style="{width: item.progress+'%'}">
					<!-- {{item.msg}} -->
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import { EventBus } from './../event-bus.js';

import BannerItem from './components/banneritem'
import BannersVendor from './../../vendor/js/banners'

import PreviewBanner from './preview'

export default {
	name: 'banners',
	props: ['cat', 'r' , 'bannerSize', 'bannerID', 'bannerVersion'],
	components: {
		BannerItem,
		BannersVendor,
		PreviewBanner,
	},
	data: function () {
		return {
			bannersList: false,
			bannersVersionsList: false,
			bannerData: false,
			preBannerID: false,
			preBannerVersion: false,

			versionSelectorOneItem: true,
			versionPublishedAvailable: false,

			refreshPageWatchdog: false,

			addBannerDialogState: false,
			settingsDialogState: false,
			alertDialogState: false,
			saveDialogState: false,

			alert: {
				message: null,
				ok: null,
				ok_style: false,
				cancel: null,
				cancel_style: false,
				swap_buttons: false,
				f: {
					confirm: false,
					discard: false
				}
			},

			selectorState: true,
			versionSelectorState: true,
			loading: true,
			saving: true,
			bannerPrepare: [],
			imageCache: [],
			bannerChanged: false,
			bannerNew: false,

			bannerName: false,
			adID: false,
			adField: false,
			adTitle: false,
			clickThroughURL: false,
            frameTime: '',

			iframeTimer: false,
			saveLog: [],
			saveProgress: 0,
			saveLogTrigger: false,
			lastFrameScreenshot: false,
			overviewSettings: [],
			leaveMsg: "You made changes which haven’t been saved.",
		}
	},
	created() {
		EventBus.$on('updateBannersVendorValue', this.updateBannersVendorValue );
		EventBus.$on('bannerActionSave', this.preSaveBanners );
		EventBus.$on('bannerActionPublish', this.publishBanners );
		window.addEventListener('beforeunload', (event) => {
			if (!this.saving) {
				event.returnValue = this.leaveMsg;
			}
		});
	},
	mounted() {
		this.getOverviewSettings();
		this._routerUpdateActions();
	},
	beforeDestroy() {
		EventBus.$off('updateBannersVendorValue', this.updateBannersVendorValue );
		EventBus.$off('bannerActionSave', this.preSaveBanners );
		EventBus.$off('bannerActionPublish', this.publishBanners );
	},
	beforeRouteUpdate (to, from, next) {
		this.routeUpdateEvent(to, from, next);
	},
	beforeRouteLeave (to, from, next) {
		this.routeUpdateEvent(to, from, next);
	},
	watch: {
		bannerChanged: function (v) {
			if (v === false) {
				this.saving = true;
			} else {
				this.saving = false;
			}
		},
		bannerID: function (v) {
			if (v && this.preBannerID !== parseInt(v)) {
				this.preBannerID = parseInt(v);
				this.preBannerVersion = false;
				this.resetStateVariables();
				this._routerUpdateActions();
			}
		},
		bannerVersion: function (v) {
			if (v && this.preBannerVersion !== parseInt(v)) {
				this.preBannerVersion = parseInt(v);
				this.resetStateVariables();
				this._routerUpdateActions();
			}
		},
		saving: function (v) {
			EventBus.$emit("bannerActionSaveReady", { saving: v });
		}
	},
	updated() {
	},
	methods: {
		resetStateVariables: function () {
			this.lastFrameScreenshot = false;
			this.bannerChanged = false;
			this.saving = true;
		},
		_routerUpdateActions: function () {
			if (this.r == 'create') {
				//console.log("Create new banner", this.cat, this.bannerSize);
				this.loading = false;
				this.addBannerDialogOpen();
			} else {
				//console.log("Updated", this.cat, this.bannerSize, this.bannerID, this.preBannerVersion, this.bannerVersion);
				if (!this.bannersList || (!this.bannerID && !this.bannerVersion)) {
					this.getBannersList();
				} else if (this.bannerID && (!this.bannersVersionsList || !this.bannerVersion)) {
					// bannerID without version, need to fetch bannerID versions and update route
					this.getBannersVersion();
				} else if (this.bannerID && this.bannerVersion) {
					// version have been changed, time to update banner
					this.preVersionID = parseInt(this.bannerVersion);
					this.getBanner();
				}
			}
		},
		getOverviewSettings: function () {
			this.overviewSettings = JSON.parse(sessionStorage.getItem("overviewSettings"));
			this.getIDType();
		},
		getIDType: function () {
			for (var i in this.overviewSettings) {
				if (this.overviewSettings[i].type == 'ad_id') {
					this.adField = this.overviewSettings[i].field;
					this.adTitle = this.overviewSettings[i].title;
				}
			}
		},
		getVersionState: function(versionID) {
			for(var i in this.versionStates) {
				if (this.versionStates[i].ID == versionID) {
					return this.versionStates[i];
					break;
				}
			}
			return false;
		},
		// router navigation
		routeUpdateEvent: function (to, from, next) {
			if (!this.saving) {
				this.alert = {
					message: this.leaveMsg,
					ok: "Discard changes",
					ok_style: false,
					cancel: "Continue editing",
					cancel_style: false,
					swap_buttons: true,
					f: {
						ok: function (to, from, next) {
								this.saving = true;
								this.routeUpdateEvent(to, from, next);
							}.bind(this, to, from, next),
						cancel: function (to, from, next) {
								this.closeAll();
								next(false);
							}.bind(this, to, from, next)
					}
				};
				this.alertDialogOpen();
			} else {
				this.updateBanners();
				next();
			}
		},

		// banners vendor
		updateBannersVendorValue: function (data) {
			if (data.frame === false) {
				if (this.bannerData) {
					for (var i = 0; i < data.values.values.length; i++) {
						if (this.$isset(this.bannerData[data.values.values[i].key])) {	// update if value exists in table
							if (this.bannerData[data.values.values[i].key] != data.values.values[i].value) {	// and not the same as before
								this.bannerData[data.values.values[i].key] = data.values.values[i].value;
								this.bannerChanged = true;
								this.lastFrameScreenshot = true;
							}
						}
					}
				}
			}
		},

		updateSaveLog: function (data) {
			for (var i = 0; i < this.saveLog.length; i++) {
				if (this.saveLog[i].frame_id == data.frame_id && data.type != "init") {
					this.saveLog[i] = data;
					this.saveLogTrigger = !this.saveLogTrigger;
					this.updateSaveLogProgress();
					return true;
				}
			}
			this.saveLog.push(data);
			return true;
		},
		updateSaveLogProgress: function () {
			var tmp_saveProgress = 0;
			for (var i = 0; i < this.saveLog.length; i++) {
				if (this.saveLog[i].type == 'success' || this.saveLog[i].type == 'error') {
					this.saveLog[i].progress = 100/this.saveLog.length;
					tmp_saveProgress++;
				} else if (this.saveLog[i].type == 'progress') {
					this.saveLog[i].progress = 40/this.saveLog.length;
					tmp_saveProgress += 0.4;
				} else if (this.saveLog[i].type == 'init') {
					this.saveLog[i].progress = 10/this.saveLog.length;
					tmp_saveProgress += 0.1;
				} else {
					this.saveLog[i].progress = 0;
				}
			}
			for (var i = 0; i < this.saveLog.length; i++) {
				this.saveLog[i].progress = Math.ceil(this.saveLog[i].progress);
			}
			this.saveProgress = parseInt((tmp_saveProgress/this.saveLog.length)*100);
		},

		isBannerSaved: function () {
			if (!this.bannerChanged) {
				return true;
			} else {
				return false;
			}
		},
		isBannerSavedAction: function (_ok) {
			this.alert = {
				message: this.leaveMsg,
				ok: "Discard changes",
				ok_style: false,
				cancel: "Continue editing",
				cancel_style: false,
				swap_buttons: true,
				f: {
					ok: _ok,
					cancel: function () { this.closeAll() }.bind(this)
				}
			};
			this.alertDialogOpen();
		},


		// Preview window
		previewDialogData: function () {
			var tmp = JSON.parse(JSON.stringify(this.bannerData));
			for (var f in tmp.Frames) {
				if (this.$isset(this.imageCache[tmp.Frames[f]._ID])) {
					tmp.Frames[f].Image = this.imageCache[tmp.Frames[f]._ID];
				}
			}
			return tmp;
		},
		previewDialogOpen: function () {
			EventBus.$emit("previewBanner", {
				bannerSize: this.bannerSize,
				bannerID: this.bannerID,
				bannerVersion: this.bannerVersion,
				bannerData: this.previewDialogData(),
			});
		},

		// Alert
		alertDialogOpen: function () {
			this.alertDialogState = true;
		},
		alertDialogClose: function () {
			this.alertDialogState = false;
			this.alert = {
				message: null,
				ok: null,
				ok_style: false,
				cancel: null,
				cancel_style: false,
				swap_buttons: false,
				f: {
					confirm: false,
					discard: false
				}
			};
		},
		alertDialogOk: function () {
			this.alert.f.ok();
		},
		alertDialogCancel: function () {
			this.alert.f.cancel();
		},

		// Delete (based on alert)
		deleteDialogOpen: function () {
			this.settingsDialogClose();
			this.alert = {
				message: "You are about to delete this banner version. Are you sure?",
				ok: "Delete",
				ok_style: "delete",
				cancel: "Cancel",
				cancel_style: "dark-grey-outline",
				swap_buttons: false,
				f: {
					ok: function() {
							this.closeAll();
							this.deleteCurrentBanner();
						}.bind(this),
					cancel: function() {
							this.closeAll();
						}.bind(this)
				}
			};

			this.alertDialogOpen()
		},
		deleteDialogClose: function () {
			this.alertDialogClose();
		},

		// Delete (based on alert)
		unpublishDialogOpen: function () {
			this.settingsDialogClose();
			this.alert = {
				message: "You are about to unpublish this banner. Are you sure?",
				ok: "Unpublish",
				ok_style: "delete",
				cancel: "Cancel",
				cancel_style: "dark-grey-outline",
				swap_buttons: false,
				f: {
					ok: function() {
							this.closeAll();
							this.unpublishCurrentBanner();
						}.bind(this),
					cancel: function() {
							this.closeAll();
						}.bind(this)
				}
			};

			this.alertDialogOpen()
		},
		unpublishDialogClose: function () {
			this.alertDialogClose();
		},

		publishDialogOpen: function () {
			var alert_message = [];
			if (!this.adID) {
				alert_message.push(
					(['a', 'e', 'i', 'o', 'u'].indexOf(this.adTitle[0].toLocaleLowerCase())>-1?"an":"a")+" "+this.adTitle+"");
			}
			if (!this.clickThroughURL) {
				alert_message.push("Click through URL");
			}
			alert_message = "The banner requires "+alert_message.join(" and ")+" before it can be published, which can be added under settings.";
			this.settingsDialogClose();
			this.alert = {
				message: alert_message,
				ok: "Open Settings",
				ok_style: "solid-blue",
				cancel: "Cancel",
				cancel_style: "dark-grey-outline",
				swap_buttons: false,
				f: {
					ok: function() {
							this.closeAll();
							this.settingsDialogOpen();
						}.bind(this),
					cancel: function() {
							this.closeAll();
						}.bind(this)
				}
			};

			this.alertDialogOpen()
		},
		publishDialogClose: function () {
			this.alertDialogClose();
		},


		updateBanners: function () {
			this.closeAll();
		},

		updateLast: function (type, data) {
			for (var c = 0; c < this.$children.length; c++) {
				if (this.$children[c].isLast()) {
					this.$children[c].updateLast(type, data);
				}
			}
		},

		/// NEW CODE FROM HERE, everything before it will be removed later (not all)

		// Add banner dialog
		addBannerDialogOpen: function () {
			if (this.isBannerSaved()) {
				this.selectorClose();
				this.alertDialogClose();
				this.bannerName = "";
				this.adID = "";
				this.addBannerDialogState = true;
			} else {
				this.isBannerSavedAction(
					function () {
						this.resetStateVariables();
						this.addBannerDialogOpen();
					}.bind(this)
				);
			}
			this.selectorClose();
		},
		addBannerDialogClose: function () {
		},
		addBannerDialogAdd: function () {
			this.addBannerDialogClose();
			var tmp = JSON.parse(sessionStorage.getItem("cats"));
			this.updateSaveLog({frame_id: -1, type: 'progress', msg: "Prepare to Add new banner"});
			this.$axios.post("/api/banner/"+this.bannerSize,
					this.$qs.stringify ({
						'bannerName': this.bannerName,
						'adID': this.adID,
						'category': tmp[this.cat].title
					}),
					{
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						}
					}
				)
				.then(response => {
					if (response.data.success == true) {
						this.$toast.success("Added");
						this.updateSaveLog({frame_id: -1, type: 'success', msg: "Added"});
						this.refreshPage(response.data.message.ID, false, 1000);
					} else {
						this.$toast.error(response.data.message.error.message);
						this.saveDialogState = false;
						this.saving = false;
					}
				})
				.catch(e => {
					if (this.$isset(e.response) && e.response.status == 401) {
						this.$authError();
					} else {
						console.error(e);
						this.$toast.error(e);
					}
				})
		},


		deleteCurrentBanner: function () {
			this.saving = true;
			this.$axios.delete("/api/banner/" + this.bannerSize + "/" + this.bannerID,
				{
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					}
				}
			)
			.then(response => {
				if (response.data.success == true) {
					this.$toast.success("Deleted");
					this.refreshPage(false, false, 1000);
				} else {
					this.$toast.error(response.data.message.error.message);
				}
			})
			.catch(e => {
				if (this.$isset(e.response) && e.response.status == 401) {
					this.$authError();
				} else {
					console.error(e);
					this.$toast.error(e);
				}
			});
		},


		publishBanners: function () {
			this.settingsPrepare();
			if (this.adID && this.bannerName && this.clickThroughURL) {
				this.preSaveBanners(
					function (ID) {
						this.doPublish(ID);
					}.bind(this)
				);
			} else {
				this.publishDialogOpen();
			}
		},

		doPublish: function (ID) {
			this.updateSaveLog({frame_id: -2, type: 'progress', msg: "Prepare to Publish"});
			this.$axios.post("/api/publish/" + this.bannerSize + "/" + ID,
					this.$qs.stringify ({'ID': ID}),
					{
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						}
					}
				)
				.then(response => {
					if (response.data.success == true) {
						this.$toast.success("Published");
						this.updateSaveLog({frame_id: -2, type: 'success', msg: "Published"});
						this.refreshPage(ID, 2, 1000);	// 2 for published version
					} else {
						this.$toast.error(response.data.message.error.message);
						this.saveDialogState = false;
					}
				})
				.catch(e => {
					if (this.$isset(e.response) && e.response.status == 401) {
						this.$authError();
					} else {
						console.error(e);
						this.$toast.error(e);
					}
				})
		},

		unpublishCurrentBanner: function () {
			// remove item from published table, update current published status and force cron task to update google docs
			this.$axios.delete("/api/publish/" + this.bannerSize + "/" + this.bannerID,
				{
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					}
				}
			)
			.then(response => {
				if (response.data.success == true) {
					this.$toast.success("Unpublished");
					this.refreshPage(this.bannerID, 1, 1000);	// 1 for current version
				} else {
					this.$toast.error(response.data.message.error.message);
					this.saveDialogState = false;
				}
			})
			.catch(e => {
				if (this.$isset(e.response) && e.response.status == 401) {
					this.$authError();
				} else {
					console.error(e);
					this.$toast.error(e);
				}
			});
		},


		preSaveBanners: function (_callback) {
			// prepare state to save
			this.closeAll();
			this.saving = true;
			this.updateSaveLog({frame_id: -1, type: 'progress', msg: "Prepare to save"});
			for (var c = 0; c < this.$children.length; c++) {
				if (typeof this.$children[c].beforeBannersSave === 'function') {
					this.bannerPrepare[c] = false;
				}
			}
			for (var c = 0; c < this.$children.length; c++) {
				if (typeof this.$children[c].beforeBannersSave === 'function') {
					this.$children[c].beforeBannersSave(function(childId, _callback) {
						this.preSaveBanners_ready(childId, _callback);
					}.bind(this, c, _callback));
				}
			}
			this.saveDialogState = true;
		},

		preSaveBanners_ready: function (childId,_callback) {
			this.bannerPrepare[childId] = true;
			var flag = true;
			for (var c = 0; c < this.bannerPrepare.length; c++) {
				if (this.bannerPrepare[c] === false) {
					flag = false;
					break;
				}
			}
			if (flag) {
				this.saveBanners(_callback);
			}
		},

		saveBanners: function (_callback) {
			// save current state (draft/current or published) as draft/current item
			// published item will not be changed
			// draft/current item will be overwrite
			this.bannerPrepare = [];
			var tmp = JSON.parse(sessionStorage.getItem("cats"));
			var frames = JSON.parse(sessionStorage.getItem("banners"))[this.bannerSize].frames;
			var bannerSettings = this.$getBannerSettings(this.bannerSize);
			var toSave = {
				data: {
					Frames: []
				}
			};
			for (var i = 0; i < bannerSettings.length; i++) {
				if (bannerSettings[i].type == 'frames') {
					for (var f = 0; f < frames; f++) {
						var toSaveFrame = {
								_ID: i+1
							};
						for (var fi = 0; fi < bannerSettings[i].fields.length; fi++) {
							toSaveFrame[bannerSettings[i].fields[fi].field] = this.$processValue(
								bannerSettings[i].fields[fi].type,
								this.bannerData.Frames[f][bannerSettings[i].fields[fi].field]
							);
						}
						toSave.data.Frames.push(toSaveFrame);
					}
				} else {
					toSave.data[bannerSettings[i].field] = this.$processValue(bannerSettings[i].type, this.bannerData[bannerSettings[i].field]);
				}
			}

			this.$axios.put("/api/banner/" + this.bannerSize + "/" + this.bannerID,
					this.$qs.stringify (toSave),
					{
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						}
					}
				)
				.then(response => {
					if (response.data.success == true) {
						this.$toast.success("Saved");
						this.updateSaveLog({frame_id: -1, type: 'success', msg: "Saved"});
						if (typeof _callback == 'function') {
							_callback(response.data.message.ID);
						} else {
							this.refreshPage(response.data.message.ID, 1, 1000);	// 1 is the current version as we just saved it
						}
					} else {
						this.$toast.error(response.data.message.error.message);
						this.saveDialogState = false;
						this.saving = false;
					}
				})
				.catch(e => {
					if (this.$isset(e.response) && e.response.status == 401) {
						this.$authError();
					} else {
						console.error(e);
						this.$toast.error(e);
					}
				})

		},

		refreshPage: function (ID, bannerVersion, timeout) {
			setTimeout( function () {
				this.refreshPageWatchdogRun(true);
				var path = false;
				if (ID == false) {
					path = '/admin/items/' + this.cat;
				} else if (bannerVersion === false) {
					path = '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + ID;
				} else {
					path = '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + ID + '/' + bannerVersion;
				}

				if (path !== false) {
					this.$router.push(
						{ path: path },
						function () {
							this.refreshPageWatchdogRun(false);
						}.bind(this),
						function () {
							this.refreshPageWatchdogRun(false);
						}.bind(this),
					);
				}
			}.bind(this), timeout);
		},
		refreshPageWatchdogRun: function (activate) {
			if (activate) {
				this.refreshPageWatchdog = setTimeout( function () {
					// reload anyway after short timeout
					window.location.reload(true);
				},2000);
			} else {
				// no needs to wait watchdog, just refresh ASAP
				clearTimeout(this.refreshPageWatchdog);
				this.refreshPageWatchdog = false;
				window.location.reload(true);
			}
		},

		getCategoryTitle: function() {
			var tmp = JSON.parse(sessionStorage.getItem("cats"));
			return tmp[this.cat].title;
		},

		getBannersList: function() {
			this.loading = true;
			this.$axios.get("/api/category/"+encodeURIComponent(this.getCategoryTitle())+"/"+this.bannerSize)
			.then(response => {
				if (response.data.success == true) {
					if (response.data.message.length == 0) {
						this.loading = false;
						this.addBannerDialogOpen();
					} else {
						this.bannersList = response.data.message;
						if (!this.bannerID || !this.$isset(this.bannersList[this.bannerID])) {
							this.$router.push(
								{ path: '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + this._getFirst(this.bannersList).ID }
							);
						} else {
							this._routerUpdateActions();
						}
					}
				} else {
					this.$toast.error(response.data.message.error.message);
				}
			})
			.catch(e => {
				if (this.$isset(e.response) && e.response.status == 401) {
					this.$authError();
				} else {
					console.error(e);
					this.$toast.error(e);
				}
			})
		},

		getBannersVersion: function() {
			if (this.bannerID) {
				this.loading = true;
				this.$axios.get("/api/banner/" + this.bannerSize + "/" + this.bannerID)
				.then(response => {
					if (response.data.success == true) {
						this.bannersVersionsList = response.data.message;
						this.versionSelectorOneItem = this._count(this.bannersVersionsList)==1?true:false;
						this.versionPublishedAvailable = !this.versionSelectorOneItem;
						if (!this.bannerVersion || !this.$isset(this.bannersVersionsList[this.bannerVersion])) {
							// for draft/published list of version
							if (this.$isset(this.bannersVersionsList[2])) {
								// published
								this.$router.push(
									{ path: '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + this.bannerID + '/2' }
								);
							} else if (this.$isset(this.bannersVersionsList[1])) {
								// draft
								this.$router.push(
									{ path: '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + this.bannerID + '/1' }
								);
							} else {
								// any other
								this.$router.push(
									{ path: '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + this.bannerID + '/' + this._getFirst(this.bannersVersionsList).ID }
								);
							}
						} else {
							this._routerUpdateActions();
						}
					} else {
						this.$toast.error(response.data.message.error.message);
					}
				})
				.catch(e => {
					if (this.$isset(e.response) && e.response.status == 401) {
						this.$authError();
					} else {
						console.error(e);
						this.$toast.error(e);
					}
				})
			}
		},

		getBanner: function () {
			this.loading = true;
			this.$axios.get("/api/banner/" + this.bannerSize + "/" + this.bannerID + "/" + this.bannerVersion)
			.then(response => {
				if (response.data.success == true) {
					this.bannerData = this.prepareBannerData(response.data.message);
					this.loading = false;
				} else {
					this.$toast.error(response.data.message.error.message);
				}
			})
			.catch(e => {
				if (this.$isset(e.response) && e.response.status == 401) {
					this.$authError();
				} else {
					console.error(e);
					this.$toast.error(e);
				}
			})
		},

		prepareBannerData: function (preBannerData) {
			var framesSettings = {};

			var bannerSettings = this.$getBannerSettingsByType(this.bannerSize, 'frames')[0];
			for (var si = 0; si < bannerSettings.settings.length; si++) {
				framesSettings[bannerSettings.settings[si].field] = bannerSettings.settings[si];
			}

			for (var f in preBannerData.Frames) {
				for (var field in framesSettings) {
					var _parentField = framesSettings[field].parent;
					if (framesSettings[field].type == 'type') {
						if (framesSettings[field].value == 'imageortext') {
							preBannerData.Frames[f][field] = f%2?'image':'text';
						} else {
							preBannerData.Frames[f][field] = 'imgtxt';
						}
					} else if (framesSettings[field].type == 'YN') {
						if (this.$isset(preBannerData[_parentField]) && preBannerData[_parentField] !== null && this.$isset(preBannerData[_parentField][f]) && preBannerData[_parentField][f] !== null) {
							preBannerData.Frames[f][field] = (preBannerData[_parentField][f]=='Y')?true:false;
						} else {
							// set default values
							if (preBannerData[_parentField] === null ) {
								preBannerData[_parentField] = [];
							}
							preBannerData[_parentField][f] = framesSettings[field].parent_value+"";
							preBannerData.Frames[f][field] = framesSettings[field].value=='true'?true:false;
						}
					}
				}
				preBannerData.Frames[f]._parent = parseInt(preBannerData.ID);
				preBannerData.Frames[f]._vid = "banner_frame-" + this.bannerID + "." + this.bannerVersion + "-" + preBannerData.Frames[f]._ID;
			}

			preBannerData.Frames[f]._type += '_last';
			preBannerData.Frames[f].cta = preBannerData.CTA_Text;	// TODO what if CTA_text will be changed?
			return preBannerData;
		},


		_getFirst: function (items) {
			for (var i in items) {
				return items[i];
			}
		},
		_count: function (items) {
			var tmp = 0;
			for (var i in items) {
				tmp++;
			}
			return tmp;
		},

		// Select banner
		selectorToggle: function () {
			this.selectorState = !this.selectorState;
			this.versionSelectorClose();
		},
		selectorClose: function () {
			setTimeout(function () {
				this.selectorState = true;
			}.bind(this), 50);
		},
		selectorSelect: function (ID) {
			if (this.bannerID != ID) {
				this.$router.push({ path: '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + ID });
			}
			this.selectorClose();
			this.versionSelectorClose();
		},

		// Select banner version
		versionSelectorToggle: function () {
			// version selector disabled if it is only one item to select
			if (!this.versionSelectorOneItem) {
				this.selectorClose();
				this.versionSelectorState = !this.versionSelectorState;
			}
		},
		versionSelectorClose: function () {
			setTimeout(function () {
				this.versionSelectorState = true;
			}.bind(this), 50);
		},
		versionSelectorSelect: function (versionID) {
			this.$router.push({ path: '/admin/items/' + this.cat + '/' + this.bannerSize +'/' + this.bannerID + '/' + versionID });
			this.versionSelectorClose();
			this.selectorClose();
		},

		// Settings dialog
		settingsPrepare: function () {
			this.bannerName = this.bannerData.Banner_Name+"";
			this.adID = parseInt(this.bannerData[this.adField])?parseInt(this.bannerData[this.adField]):'';
			this.clickThroughURL = this.bannerData.ClickThrough_URL+"";
			this.frameTime = this.bannerData.Frame_Time+"";
		},
		settingsDialogOpen: function () {
			this.settingsPrepare();
			this.settingsDialogState = true;
		},
		settingsDialogClose: function () {
			this.settingsDialogState = false;
		},
		settingsDialogUpdate: function () {
			if (this.bannerName !='') {
				if (this.bannerData.Banner_Name != this.bannerName
					|| this.bannerData[this.adField] != this.adID
					|| this.bannerData.ClickThrough_URL != this.ClickThrough_URL
                    || this.bannerData.Frame_Time != this.frameTime
				) {
					this.bannerChanged = true;
				}
				this.bannerData.Banner_Name = this.bannerName+"";
				this.bannerData[this.adField] = parseInt(this.adID)?parseInt(this.adID):0;
				this.bannerData.ClickThrough_URL = this.clickThroughURL+"";
				this.bannerData.Frame_Time = this.frameTime+"";
				this.settingsDialogClose();
			} else {
				this.$toast.error("Empty Banner Name");
			}
		},



		// view support methods
		supportGrid: function () {
			if (this.$browser == 'Internet Explorer' || this.$browser == 'Microsoft Edge') {
				return false;
			}
			return true;
		},
		bannersClass: function () {
			return "banner"+this.bannerSize+""+(this.supportGrid()?'':' ie');
		},


		closeAll: function () {
			this.settingsDialogClose();
			this.addBannerDialogClose();
			this.selectorClose();
			this.versionSelectorClose();
			this.alertDialogClose();
			this.deleteDialogClose();
		},


	}
}
</script>
