<template>
	<div id="bannersizes">
		<div class="subheader">
			<h1>Pick your banner size</h1>
		</div>
		<div class="items">
			<bannersize-item 
				v-for="item in bannerSizesData"
				v-bind:key="item.vid"
				v-bind:r="r"
				v-bind:cat="cat"
				v-bind:item="item">
			</bannersize-item>
		</div>
	</div>
</template>

<script>

import BannersizeItem from './components/bannersizeitem'

export default {
	name: 'bannersizess',
	props: ['cat', 'r'],
	components: { BannersizeItem },
	data: function () {
		return {
			bannerSizesData: [],
		}
	},
	created() {
		this.getBannerSizes();
	},
	methods: {
		getBannerSizes: function () {
			this.bannerSizesData = JSON.parse(sessionStorage.getItem("banners"));
		}
	}
}
</script>
