<template>
	<div id="bannercats">
		<div class="subheader">
			<h1>Create or update banners</h1>
		</div>
		<div class="items">
			<cat-item 
				v-for="item in catsData"
				v-bind:key="item.vid"
				v-bind:r="r"
				v-bind:item="item">
			</cat-item>
		</div>
	</div>
</template>

<script>

import CatItem from './components/catitem'

export default {
	name: 'cats',
	props: ['r'],
	components: { CatItem },
	data: function () {
		return {
			catsData: [],
		}
	},
	created() {
		this.getCats();
	},
	methods: {
		getCats: function () {
			this.catsData = JSON.parse(sessionStorage.getItem("cats"));
		},
	}
}
</script>
