<template>
	<div id="overview">
		<router-link v-if="allowBannerButton()" class="button create" title="Create banner" style="display: block;" to="/admin/create/">&nbsp;</router-link>
		<div class="subheader">
			<h1>Campaign overview</h1>
		</div>
		<span style="display: none;">{{bannerSize}}</span>
		<div id="overview-sizes">
		<router-link v-for="item in bannerSizesData" v-bind:key="item.ID" :to="itemSizeUrl(item.ID)" class="overview-size-item">{{item.title}}</router-link>
		</div>
		<div class="overview" v-if="loaded">
			<table class="overview-items">
			<thead><tr>
				<th v-for="overviewItem in overviewSettings" class="overviewHeader" :class="overviewItem.type">
					{{overviewItem.title}}
				</th>
				<th>Published</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th v-if="allowEditBannerButton()">&nbsp;</th>
			</tr></thead>
			<tbody>
			<overview-item 
				v-for="item in data"
				v-bind:key="bannerItemKey(item)"
				v-bind:bannerSize="bannerSize"
				v-bind:overviewSettings="overviewSettings"
				v-bind:item="item">
			</overview-item>
			</tbody>
			</table>
		</div>
		<div class="loader" v-else="loaded">
			<img class="loader-animation" src="/img/loader/main.svg">
		</div>
		<div class="save-block" v-if="!saving && loaded">
			<button v-on:click="saveChanges()" class="btn">Save</button>
		</div>
		<preview-banner></preview-banner>
		<div class="dialogback" :class="{ active: (alertDialogState)}" v-on:click="closeAll()"></div>
		<div class="dialogue alert" :class="{ active: alertDialogState }">
			<div class="message">{{alert.message}}</div>
			<div class="form-group buttons">
				<div class="ok btn right" :class="alert.ok_style" v-on:click="alertDialogOk()">{{alert.ok}}</div>
				<div class="cancel btn left" v-on:click="alertDialogCancel()">{{alert.cancel}}</div>
			</div>
		</div>
	</div>
</template>

<script>

import OverviewItem from './components/overviewitem'
import PreviewBanner from './preview'

export default {
	name: 'overview',
	components: { 
		OverviewItem,
		PreviewBanner
	},
	props: ['bannerSize'],
	data: function () {
		return {
			fieldsTypesToUpdate: ['ad_id', 'clickthrough_url', 'active'],
			fieldsToUpdate: [],	// field by fieldsTypesToUpdate
			itemsToUpdate: {},
			
			alertDialogState: false,
			bannerPreviewID: false,
			alert: {
				message: null,
				ok: null,
				ok_style: false,
				cancel: null,
				f: {
					confirm: false,
					discard: false
				}
			},
			saving: true,
			loaded: false,
			preBannerSize: false,
			data: [],
			overviewSettings: [],
			bannerSizesData: [],
			leaveMsg: "You made changes which haven’t been saved.",
		}
	},
	created() {
		window.addEventListener('beforeunload', (event) => {
			if (!this.saving) {
				event.returnValue = this.leaveMsg;
			}
		});
	},
	updated() {
		if (this.preBannerSize === false || this.preBannerSize !== this.bannerSize ) this.getBannerSizes();
		if (this.previewDialogState) {
			if (this.previewLoaded !== false) {
			} else {
				this.previewData();
			}
		}
	},
	mounted() {
		this.getOverviewSettings();
		this.getBannerSizes();
		this.getFieldsToUpdate();
	},
	beforeRouteUpdate (to, from, next) {
		this.beforeSizeChange(to, from, next);
	},
	beforeRouteLeave (to, from, next) {
		this.beforeSizeChange(to, from, next);
	},
	methods: {
		// ACL
		allowEditBannerButton: function () {
			return this.$aclCheck("_overviewbanner").x === true;
		},
		allowBannerButton: function () {
			return this.$aclCheck("banners").x === true;
		},
		
		bannerItemKey: function (item) {
			return this.bannerSize+"."+item.ID;
		},
		
		// Overview settings
		getFieldsToUpdate: function () {
			for (var i = 0; i < this.overviewSettings.length; i++) {
				if (this.fieldsTypesToUpdate.indexOf(this.overviewSettings[i].type) > -1) {
					this.fieldsToUpdate.push(this.overviewSettings[i].field);
				}
			}
		},
		getOverviewSettings: function () {
			this.overviewSettings = JSON.parse(sessionStorage.getItem("overviewSettings"));
		},
		
		beforeSizeChange: function (to, from, next) {
			if (!this.saving) {
				this.alert = {
					message: "You made changes which haven’t been saved.",
					ok: "Discard changes",
					ok_style: false,
					cancel: "Continue editing",
					f: {
						ok: function (next) { 
							this.saving = true;
							this.closeAll();
							next(); 
						}.bind(this, next),
						cancel: function () { 
							this.closeAll(); 
							next(false); 
						}.bind(this)
					}
				};
				this.alertDialogOpen();
			} else {
				next();
			}
		},
		
		closeAll: function () {
			this.alertDialogClose();
		},


		// Alert
		alertDialogOpen: function () {
			this.alertDialogState = true;
		},
		alertDialogClose: function () {
			this.alertDialogState = false;
			this.alert = {
				message: null,
				ok: null,
				ok_style: null,
				cancel: null,
				f: {
					confirm: false,
					discard: false
				}
			};
		},
		alertDialogOk: function () {
			this.alert.f.ok();
		},
		alertDialogCancel: function () {
			this.alert.f.cancel();
		},



		itemSizeUrl: function (size) {
			return "/admin/overview/"+size;
		},
		getBannerSizes: function () {
			this.bannerSizesData = JSON.parse(sessionStorage.getItem("banners"));
			if (this.bannerSize == false || this.bannerSize == null) {
				for (var i in this.bannerSizesData) {
					this.$router.push({ path: "/admin/overview/"+i+"/" });
					break;
				}
				return false;
			} else {
				this.data = [];
				this.preBannerSize = this.bannerSize+"";
				this.getOverview();
			}
		},
		getOverview: function () {
			this.loaded = false;
			this.$axios.get("/api/overview/"+this.bannerSize)
			.then(response => {
				if (response.data.success == true) {
					this.loaded = true;
					this.saving = true;
					this.itemsToUpdate = {};
					this.data = response.data.message;
					for (var i = 0; i < this.data.length; i++) {
						this.data[i]._state = "loaded";
					}
				} else {
					this.$toast.error(response.data.message.error.message);
					this.getOverview();
				}
			}).catch(e => {
				if (e.response.status == 401) {
					this.$authError();
				} else {
					console.error(e);
					this.$toast.error(e);
				}
			})
		},
		
		saveChanges: function () {
			this.saving = true;
			var toSave = {data: {}};
			for (var i = 0; i < this.data.length; i++) {
				if (this.$isset(this.itemsToUpdate[this.data[i].ID]) && this.itemsToUpdate[this.data[i].ID] === true) {
					toSave.data[this.data[i].ID] = {};
					for (var j = 0; j < this.fieldsToUpdate.length; j++) {
						toSave.data[this.data[i].ID][this.fieldsToUpdate[j]] = this.data[i][this.fieldsToUpdate[j]]+"";
					}
				}
			}
			setTimeout(function (toSave) {
				this.loaded = false;
				this.$axios.put("/api/overview/"+this.bannerSize, 
					this.$qs.stringify (toSave),
					{ 
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						}
					}
				)
				.then(response => {
					if (response.data.success == true) {
						this.$toast.success("Saved");
						this.getOverview();
					} else {
						this.$toast.error(response.data.message.error.message);
						this.getOverview();
					}
				})
				.catch(e => {
					if (e.response.status == 401) {
						this.$authError();
					} else {
						console.error(e);
						this.$toast.error(e);
					}
				})
			}.bind(this, toSave), 10);
		}
	}
}
</script>
