<template>
	<div id="previewBanner">
		<div class="dialogback" :class="{ active: previewDialogState }" v-on:click="previewDialogClose()"></div>
		<div class="dialogue preview" :class="previewClass">
			<h2>Preview</h2>
			<div class="iframe-container" v-if="previewLoaded">
				<iframe v-if="previewDialogState" :src="previewDialogIframe"></iframe>
			</div>
			<div class="loader" v-else="previewLoaded">
				<img class="loader-animation" src="/img/loader/main.svg">
			</div>
			<div class="close" v-on:click="previewDialogClose()"></div>
		</div>
	</div>
</template>

<script>

import shared from './../../vendor/js/shared';
import { EventBus } from './../event-bus.js';

export default {
	name: 'PreviewBanner',
	props: [],
	data: function () {
		return {
			previewDialogState: false,
			previewDialogIframe: false,
			iframeTimer: false,
			previewLoaded: false,
			previewClass: false,
			bannerSize: false,
			bannerID: false,
			bannerVersion: false,
			
			keyUpEvent: false,
		}
	},
	created() {
		EventBus.$on('previewBanner', this.previewBannerEvent );
		this.keyUpEvent = this.closeByEsc.bind(this);
		document.addEventListener('keyup', this.keyUpEvent);
		this.prepareData = shared.prepareData;
	},
	beforeDestroy() {
		EventBus.$off('previewBanner', this.previewBannerEvent );
		document.removeEventListener('keyup', this.keyUpEvent);
		this.keyUpEvent = null;
	},
	updated() {
	},
	methods: {
		closeByEsc: function (event) {
            if (event.keyCode === 27) {
                this.previewDialogClose();
            }
		},
		previewBannerEvent: function (data) {
			this.previewDialogIframe = '/src/preview/'+data.bannerSize+'/?'+((new Date()).getTime());
			this.previewDialogState = true;
			this.previewClass = 'size'+data.bannerSize+' active';
			this.bannerSize = data.bannerSize;
			this.bannerID = data.bannerID;
			this.bannerVersion = data.bannerVersion;

			if (data.bannerData) {
				this.previewLoaded = this.prepareData(data.bannerData);
				this.previewShow();
			} else {
				this.previewData();
			}
		},
		
		previewData: function () {
			this.previewLoaded = false;
			this.$axios.get("/api/banner/" + this.bannerSize + "/" + this.bannerID + "/" + this.bannerVersion)
			.then(response => {
				if (response.data.success == true) {
					this.previewLoaded = this.prepareData(response.data.message);
					this.previewShow();
				}
			}).catch(e => {
				console.error(e);
				this.$toast.error(e);
			})
		},
		
		
		previewShow: function () {
			this.iframeTimer = setInterval( function () {
				if (this.$isset(document.getElementsByClassName("dialogue preview")[0]) &&
					this.$isset(document.getElementsByClassName("dialogue preview")[0].getElementsByTagName("iframe")[0])) 
				{
					clearInterval(this.iframeTimer);
					this.iframeTimer = false;
					console.log("Preview data", this.previewLoaded);
					document.getElementsByClassName("dialogue preview")[0].getElementsByTagName("iframe")[0].contentWindow.data = this.previewLoaded;
				} else {
					console.log("Unable to find iFrame");
				}
			}.bind(this), 50);
		},
		
		previewDialogClose: function () {
			this.previewLoaded = false;
			this.previewDialogState = false;
			this.previewClass = false;
		}
	}
}
</script>
