<template>
	<router-link :to="itemUrl()" class="item">
		<div class="icon" :style="bannerIconStyle()"></div>
		<h2>{{ item.title }}</h2>
	</router-link>
</template>

<script>

export default {
	name: 'BannersizeItem',
	props: ['item', 'r', 'cat'],
	data() {
		return {
			bannerIconScale: 0.25,
		}
	},
	methods: {
		itemUrl: function () {
			return "/admin/"+this.r+"/"+this.cat+"/"+this.item.ID
		},
		
		bannerIconStyle: function () {
			return "width: "+(parseInt(this.item.w)*this.bannerIconScale)+"px; height: "+(parseInt(this.item.h)*this.bannerIconScale)+"px; margin-top:"+((150-parseInt(this.item.h)*this.bannerIconScale)/2 + 20)+"px";
		}
	}
}
</script>
