<template>
	<div class="bannerframe" :class="{ 'update-flag': preview }">
		<div class="toolbar top">
			<div class="disableButton" :class="{ active: !isDisabled() }" v-if="!isLast()" v-on:click="toggleShowFrame()"></div>
			<banner-item-vendor-top
				v-bind:item = "item"
				v-bind:bannerSize = "bannerSize"
				v-bind:bannerID = bannerID
				v-bind:bannerVersion = bannerVersion
			></banner-item-vendor-top>
		</div>
		<div class="vendor-banner" :class="{ disabled: isDisabled() }" :style="frameStyle()">
			<banner-item-vendor-banner
				v-bind:uid = frameUniqueID()
				v-bind:item = item_data
				v-bind:bannerSize = bannerSize
				v-bind:frameId = frameId() 
				v-bind:isDisabled = isDisabled() 
				v-bind:isLast = isLast()
				v-bind:isImage = isImage() 
				v-bind:cropId = cropId() 
				v-bind:dragdrop = dragdrop 
				v-bind:imagemove = imagemove 
				v-bind:vendorClass = vendorClass 
				v-bind:frameStyle = frameStyle() 
				v-bind:bannerID = bannerID
				v-bind:bannerVersion = bannerVersion
			></banner-item-vendor-banner>
		</div>
		<div class="toolbar bottom">
			<div class="cropButton" v-if="cropButton" v-on:click="toggleCrop()">Crop</div>
		</div>
		<!--<div id="demobutton1" v-if="isLast()" v-on:click="demo()">demo</div><div id="demobutton2" v-if="isLast()" v-on:click="demo2()">demo</div>-->
	</div>
</template>

<script>

import { EventBus } from './../../event-bus.js';

import shared from './../../../vendor/js/shared';
import BannerItemVendorTop from './../../../vendor/js/banneritem.top'
import BannerItemVendorBanner from './../../../vendor/js/banneritem.banner'

export default {
	name: 'BannerItem',
	props: ['item', 'bannerSize', 'bannerID', 'bannerVersion'],
	components: { BannerItemVendorTop, BannerItemVendorBanner },
	data() {
		return {
			frame_ready: false,
			item_data: false,
			init_data: false,
			pre_state: false,
			saving: false,
			banners: {},
			c: false,
			s: false,
			callback: false,
			stages: {
				crop: false,
				screenshot: false,
			},
			parent: false,
			version: false,
			preview: false,
			imageUpdated: false,
			imageb64: false,
			dragdrop: false,
			imagemove: false,
			cropButton: false,
			hideDebug: false,
			
			vendorClasses: {},
			vendorClass: "",
		}
	},
	created() {
		this.screenshotPreAction = shared.screenshotPreAction;
		this.screenshotPostAction = shared.screenshotPostAction;
		
		EventBus.$on('updateBannersVendorValue', this.updateBannersVendorValue );
		this.banners = JSON.parse(sessionStorage.getItem("banners"));
		this.init_data = JSON.parse(JSON.stringify(this.item)+"");
		this.item_data = JSON.parse(JSON.stringify(this.item)+"");
		if (this.isLast()) {
			this.item._enabled = true;	// enable last frame on create
		}
	},
	mounted() {
		this.parent = parseInt(this.bannerID);
		this.version = parseInt(this.bannerVersion);
	},
	beforeUpdate() {
		if (this.parent != parseInt(this.bannerID) || this.version != parseInt(this.bannerVersion)) {
			this.frame_ready = false;
			// destroy crop components
			this.destroyFrame();
		}
	},
	updated() {
		if (this.parent != parseInt(this.bannerID) || this.version != parseInt(this.bannerVersion)) {
			// reinit list of banners
			this.pre_state = false;
			this.stages.crop = false;
			this.stages.screenshot = false;
			this.preview = false;
			
			this.init_data = JSON.parse(JSON.stringify(this.item)+"");
			this.item_data = JSON.parse(JSON.stringify(this.item)+"");
			this.parent = parseInt(this.item._parent);
		} else {
			this.checkIsBannerWasChanged();
		}
		
		if (this.isLast() && this.pre_state && this.preview && !this.stages.screenshot) {
			// ready to screenshot
			this.readyToSave();
		}
	},
	beforeDestroy() {
		this.destroyFrame();
		EventBus.$off('updateBannersVendorValue', this.updateBannersVendorValue);
	},
	watch: {
		imageUpdated: function (v) {
			this.bannerChanged();
		},
		imageb64: function (v) {
			this.$parent.imageCache[this.item._ID] = this.imageb64;
		},
	},
	methods: {
		initFrame: function (vendorCropSize) {
			if (this.item._type.substr(0,4) != "text") {
				this.cropInit(vendorCropSize);
			}
			if (this.isLast()) {
				this.shotInit();
			}
			setTimeout(function() {
				// wait a little bit before frame update
				this.frame_ready = true;
			}.bind(this), 100);
		},
		destroyFrame: function () {
			if (this.c) {
				this.cropDestroy();
			}
			if (this.s) {
				this.shotDestroy();
			}
			this.cropButton = false;
		},
		frameUniqueID: function () {
			return this.item._parent+"."+this.item._ID+"."+this.item._type;
		},
		checkIsBannerWasChanged: function () {
			if (this.checkPreState()) {
				// text changed
				this.bannerChanged();
			}
		},
		bannerChanged: function () {
			this.$parent.bannerChanged = true;
		},
		// banners vendor
		getFrameSettings: function () {
			return this.$getBannerSettingsByType(this.bannerSize, "frames")[0];
		},

		updateBannersVendorValue: function (data) {
			if (data.frame != false && data.frame > 0 && data.frame == this.item._ID ) {
				var frameSettings = this.getFrameSettings();
				if (this.$isset(data.values) && this.$isset(data.values.values) && data.values.values.length > 0) {
					if (this.frame_ready && data.values.type == 'framecontentupdate') {
						for (var i = 0; i < data.values.values.length; i++) {
							if (this.$isset(this.item[data.values.values[i].key]) && this.item[data.values.values[i].key] != data.values.values[i].value) {	// check if such item exists in item
								this.bannerChanged();
								this.$parent.bannerData.Frames[this.item._ID-1][data.values.values[i].key] = data.values.values[i].value;
							}
						}
					}
					for (var i = 0; i < data.values.values.length; i++) {
						if (data.values.values[i].key[0] == '_') {
							// settings begin with `_`
							for (var s = 0; s < frameSettings.settings.length; s++) {
								if (frameSettings.settings[s].field == data.values.values[i].key) {
									this.item[data.values.values[i].key] = data.values.values[i].value;
									if (this.$isset(frameSettings.settings[s].parent) && frameSettings.settings[s].type == 'YN') {
										this.$parent.bannerData[frameSettings.settings[s].parent][this.item._ID-1] = data.values.values[i].value?'Y':'N';
										//                      \_parent value                    \_number in parent value array          \_setup YN type
									}
								}
							}
						} else if (this.parent == parseInt(this.item._parent)) { // ignore any updates on banner change
							if (data.values.values[i].key == 'cta') {
								if (this.$parent.bannerData.CTA_Text != data.values.values[i].value) {
									this.$parent.bannerData.CTA_Text = data.values.values[i].value;
									this.bannerChanged();
								}
							}
						}
					}
				}
				if (this.$isset(data.actions) && data.actions.length > 0) {
					for (var i = 0; i < data.actions.length; i++) {
						if (data.actions[i].action == 'addClass') {
							for (var v = 0; v < data.actions[i].values.length; v++) {
								this.vendorClasses[data.actions[i].values[v].value] = true;
							}
						} else if (data.actions[i].action == 'removeClass') {
							for (var v = 0; v < data.actions[i].values.length; v++) {
								this.vendorClasses[data.actions[i].values[v].value] = false;
							}
						} else if (data.actions[i].action == 'reInitCrop') {
							this.reInitCrop(data.actions[i].values[0].value);
						} else if (data.actions[i].action == 'initFrame') {
							this.initFrame(data.actions[i].values[0].value);
						} else if (data.actions[i].action == 'checkPreState') {
							this.checkPreState();
						}
					}
				}
				
				// Update vendor class
				var tmp = [];
				for (var i in this.vendorClasses) {
					if (this.$isset(this.vendorClasses[i]) && this.vendorClasses[i] === true) {
						tmp.push(i);
					}
				}
				this.vendorClass = tmp.join(" ");
				tmp = null;
			}
		},
		
		toggleCrop: function () {
			this.cropButton = !this.cropButton;
			if (this.cropButton) {
				this.c.cropUnlock();
			} else {
				this.c.cropLock();
			}
		},
		frameId: function () {
			return "frame_"+this.item._ID;
		},
		cropId: function () {
			return "cropme_"+this.item._ID;
		},
		newImage: function () {
			this.imageUpdated = true;
			this.cropButton = true;
		},
		
		frameStyle: function () {
			return "width:"+parseInt(this.banners[this.bannerSize].w)+"px; height:"+parseInt(this.banners[this.bannerSize].h)+"px;";
		},

		toggleShowFrame: function () {
			if (!this.isLast()) {
				this.item._enabled = !this.item._enabled;
			} else {
				this.item._enabled = true;
			}
			this.$parent.bannerData.Show_Frame[this.item._ID-1] = this.item._enabled?'Y':'N';
		},

		reInitCrop: function (vendorCropSize) {
			if (this.c !== false) {
				this.c.CroppieReinit(vendorCropSize);
				if (this.imageUpdated) {
					// reinable crop button if image updated
					this.cropButton = true;
				}
			}
		},
		isDisabled: function () {
			var frameSettings = this.getFrameSettings();
			if (!this.isLast() && !this.isImage() && this.$parent.bannerData.ID != -1) {
				var disabled = true;
				for (var f = 0; f < frameSettings.fields.length; f++) {
					if (this.$isset(frameSettings.fields[f].inchainDisabled) && 
						frameSettings.fields[f].inchainDisabled == true && 
						this.$isset(this.item[frameSettings.fields[f].field])) 
					{
						if (this.item[frameSettings.fields[f].field] != '') {
							disabled = false;
							break;
						}
					}
				}
				if (disabled) {
					this.item._enabled = false;
				}
			}

			return !this.item._enabled;
		},
		isImage: function () {
			if (this.bannerSize == '300x250') {
				return this.item._type.substring(0,5) == 'image';
			} else {
				return true;
			}
			return false;
		},
		isLast: function () {
			if (this.item._type.indexOf("_last") !== -1) {
				return true;
			}
			return false;
		},
		isMasterLast: function () {
			if (this.item._type.indexOf("_masterlast") !== -1) {
				return true;
			}
			return false;
		},
		
		checkPreState: function () {
			// check pre_state
			if (this.pre_state !== true) {
				var frameSettings = this.getFrameSettings();

				for (var f = 0; f < frameSettings.fields.length; f++) {
					if (this.$isset(frameSettings.fields[f].check) && frameSettings.fields[f].check == true && 
						this.$isset(this.init_data[frameSettings.fields[f].field]) && this.$isset(this.item[frameSettings.fields[f].field])) 
					{
						if (this.init_data[frameSettings.fields[f].field] != this.item[frameSettings.fields[f].field]) {
							this.pre_state = true;
						}
					}
				}

				for (var f = 0; f < frameSettings.settings.length; f++) {
					if (this.$isset(frameSettings.settings[f].check) && frameSettings.settings[f].check == true && 
						this.$isset(this.init_data[frameSettings.settings[f].field]) && this.$isset(this.item[frameSettings.settings[f].field])) 
					{
						if (this.init_data[frameSettings.settings[f].field] != this.item[frameSettings.settings[f].field]) {
							this.pre_state = true;
						}
					}
				}
				
				if (this.$isset(this.init_data.cta) && this.init_data.cta != this.item.cta) this.pre_state = true;
				if (this.imageUpdated       == true) this.pre_state = true;
			}
			return this.pre_state;
		},
		
		demo: function () {
			if (this.c && this.c.isNewImage()) {
				this.c.toBackground( function () {
					this.demo2();
				}.bind(this));
			}
		},
		demo2: function () {
			this.screenshotPreAction(this.frameId());
			this.s.screenshot(function (canvas) { 
				console.log('%c       ', 'font-size: 500px; background: url('+canvas.toDataURL('image/png')+') no-repeat;');
				this.screenshotPostAction(this.frameId());
			}.bind(this));
		},
		
		beforeBannersSave: function (_callback) {
			this.saving = true;
			this.callback = _callback;
			if (this.c && this.c.isNewImage()) {
				this.$parent.updateSaveLog({frame_id: this.item._ID, type: 'init', msg: "Uploading image for Frame #"+this.item._ID});
				if (this.isLast()) {
					this.$parent.updateSaveLog({frame_id: this.item._ID+"_s", type: 'init', msg: "Preparing backup image for Frame #"+this.item._ID});
				}

				this.cropButton = false;
				// save new image
				this.pre_state = true;	// image changed
				this.c.crop(function (canvas) { 
					this.$parent.updateSaveLog({frame_id: this.item._ID, type: 'progress', msg: "Uploading image for Frame #"+this.item._ID});
					this.upload(canvas, function (data) { 
						if (data.success == true) {
							this.$parent.updateSaveLog({frame_id: this.item._ID, type: 'success', msg: "Image for Frame #"+this.item._ID+" uploaded"});
							this.item.Image = data.message;
							this.stages.crop = true;
							if (!this.isLast()) {
								this.stages.screenshot = true;
								this.readyToSave();
							} else {
								// set image to background
								this.c.toBackground( function () {
									this.readyToSave();
								}.bind(this));
							}
						} else {
							this.$parent.updateSaveLog({frame_id: this.item._ID, type: 'error', msg: "Unable to upload cropped image for Frame #"+this.item._ID});
							console.error("Unable to upload cropped image", this.item._ID, data.message);
						}
					}.bind(this)); 
				}.bind(this));
			} else {
				this.stages.crop = true;
				if (this.isLast() && (this.checkPreState() || this.$parent.lastFrameScreenshot === true)) {
					// last frame, update style and screenshot it
					this.$parent.updateSaveLog({frame_id: this.item._ID+"_s", type: 'init', msg: "Preparing backup image for Frame #"+this.item._ID});
					this.pre_state = true;
					this.stages.screenshot = false;
					this.preview = true;
					document.getElementById(this.frameId()).classList.add("preview");
				} else {
					this.stages.screenshot = true;
					this.readyToSave();
				}
			}
		},
		readyToSave: function () {
			if (this.stages.crop === true && this.stages.screenshot === true) {
				this.saving = false;
				this.callback();
			} else if (this.stages.crop === true && this.stages.screenshot === false) {
				// Cropped image has been upload/updated, now time to screenshot it
				// enable screenshot styles
				this.screenshotPreAction(this.frameId());
				this.s.screenshot(function (canvas) { 
					this.$parent.updateSaveLog({frame_id: this.item._ID+"_s", type: 'progress', msg: "Uploading backup image for Frame #"+this.item._ID});
					this.preview = false;
					// disable screenshot style
					this.screenshotPostAction(this.frameId());
					this.upload(canvas, function (data) { 
						if (data.success == true) {
							this.$parent.updateSaveLog({frame_id: this.item._ID+"_s", type: 'success', msg: "Backup image for Frame #"+this.item._ID+" uploaded"});
							this.$parent.bannerData.Backup_Image_URL = data.message;
							this.stages.screenshot = true;
							this.readyToSave();
						} else {
							this.$parent.updateSaveLog({frame_id: this.item._ID+"_s", type: 'error', msg: "Unable to upload backup image for Frame #"+this.item._ID});
							console.error("Unable to upload backup image", this.item._ID, data.message);
						}
					}.bind(this));
				}.bind(this));
			}
		},
		
		cropInit: function (vendorCropSize) {
			if (this.isImage()) {
				this.c = new this.$bcrop("#"+this.cropId(), {
					size: vendorCropSize,
					placeholder: {
							src: this.item.Image
						},
					}, 
					// callback image function
					function (b64, type) { 
						if (type != 'init') {
							this.imageUpdated = true; 
						}
						if (type=='imgdroped') {
							this.cropButton = true;
						}
						this.imageb64 = b64;
					}.bind(this),
					// callback event function
					function (dd) { 
						if (dd !== false) {
							if (dd == 'dragenter' || dd == 'dragover') {
								this.dragdrop = true;
								this.imagemove = false;
							} else if (dd == 'imagemove') {
								this.dragdrop = false;
								this.imagemove = true;
							} else {
								this.dragdrop = false;
								this.imagemove = false;
							}
						} else {
							this.dragdrop = false;
						}
					}.bind(this)
				);
			}
		},
		cropDestroy: function () {
			this.c.destroy();
			this.c = null;
		},
		shotInit: function () {
			this.s = new this.$bshot("#"+this.frameId(), this.c, { });
		},
		shotDestroy: function () {
			this.s.destroy();
			this.s = null;
		},
		uploadFormat: function () {
			if (this.isLast()) {
				return "png";
			}
			return "jpeg";
		},
		upload: function (canvas, _callback){
			if (this.uploadFormat() == 'png') {
				var b64 = canvas.toDataURL('image/png', 1);
			} else {
				var b64 = canvas.toDataURL('image/jpeg');
			}
			var fd = new FormData();
			fd.append("img", new Blob([b64], {type : 'text/plain'}), 'base64.'+this.uploadFormat());
			this.$axios.post('/api/upload', fd, {
				headers: {
				  'Content-Type': 'multipart/form-data'
				}
			}).then(response => {
				if (response.data.success == true) {
					_callback(response.data);
				} else {
					_callback(false);
				}
			})
			.catch(e => {
				_callback(false);
			})


		}
	}
}
</script>
