<template>
	<router-link :to="itemUrl()" class="item">
		<div class="icon" :style="itemImgBg()"></div>
		<h2>{{ item.title }}</h2>
	</router-link>
</template>

<script>

export default {
	name: 'CatItem',
	props: ['item', 'r'],
	data() {
		return {
		}
	},
	methods: {
		itemUrl: function () {
			return "/admin/"+this.r+"/"+this.item.ID;
		},
		itemImgBg: function() {
			return "background-image: url('"+this.item.img+"');";
		}
	}
}
</script>
