<template>
	<div id="navigation-menu">
		<span style="display: none;">{{r}}</span>
		<router-link v-if="allowOverviewButton()" to="/admin/overview/"><span>Overview</span></router-link>
		<router-link v-if="allowCreateButton()" to="/admin/items/"><span>Create</span></router-link>
	</div>
</template>

<script>
export default {
	name: 'NavigationMenu',
	props: ['r'],
	data() {
		return {
		}
	},
	updated() {
	},
	methods: {
		allowOverviewButton: function () {
			return this.$aclCheck("/admin/overview/").x === true;
		},
		allowCreateButton: function () {
			return this.$aclCheck("/admin/items/").x === true;
		},
	}

}
</script>
