<template>
	<tr class="item" :class="rowState()">
		<td v-for="(overviewItem, index) in overviewSettings">
			<input v-if="overviewItem.type == 'ad_id'" class="numbers" v-model="mAdID">
			<input v-else-if="overviewItem.type == 'clickthrough_url'" class="url" v-model="mClickThroughURL">
			<span v-else>{{item[overviewItem.field]}}</span>
		</td>
		<td class="status publish" :class="{ active: item._published }">
			&nbsp;
		</td>
		<td class="button">
			<a class="copy btn" v-if="downloadUrl()" 
				v-clipboard="item.Backup_Image_URL" 
				v-clipboard:success="clipboardSuccessHandler" 
				v-clipboard:error="clipboardErrorHandler" 
				title="Copy backup image URL">&nbsp;</a>
			<span v-else>&nbsp;</span>
		</td>
		<td class="button">
			<a target="_blank" class="download btn" v-if="downloadUrl()" :href="downloadUrl()" title="Download backup image">&nbsp;</a>
			<span v-else>&nbsp;</span>
		</td>
		<td class="button">
			<a class="preview btn" v-on:click="previewDialogOpen()" title="Preview banner">&nbsp;</a>
		</td>
		<td class="button" v-if="allowEditBannerButton()">
			<router-link :to="bannerRoute()" class="banner-route btn" v-if="allowEditBannerButton() && bannerRoute()" title="Edit banner">&nbsp;</router-link>
			<span v-else>&nbsp;</span>
		</td>
	</tr>
</template>

<script>
	
import { EventBus } from './../../event-bus.js';

export default {
	name: 'OverviewItem',
	props: ['item', 'overviewSettings', 'bannerSize'],
	data() {
		return {
			isNumbers: new RegExp('^\\d+$'),
			preItem: false,
			mAdID: false,
			mAdID_field: false,
			mClickThroughURL: false,
			mClickThroughURL_field: false,
		}
	},
	watch: {
		"mAdID": function (v) {
			if (this.preItem !== false && this.item[this.mAdID_field] != v) {
				if (v === '') v = 0;
				this.item[this.mAdID_field] = v;
				if (!this.isNumbers.test(v)) {
					this.item[this.mAdID_field] = this.preItem[this.mAdID_field];
				} else {
					this.preItem[this.mAdID_field] = this.item[this.mAdID_field];
				}
				this.$parent.saving = false;
				this.$parent.itemsToUpdate[this.item.ID] = true;
				this.changeState('changed');
			}
		},
		"mClickThroughURL": function (v) {
			if (this.preItem !== false && this.item[this.mClickThroughURL_field] != v) {
				this.item[this.mClickThroughURL_field] = v;
				this.$parent.saving = false;
				this.$parent.itemsToUpdate[this.item.ID] = true;
				this.changeState('changed');
			}
		},
	},
	created() {
		for (var i in this.overviewSettings) {
			if (this.overviewSettings[i].type == 'ad_id') {
				this.mAdID_field = this.overviewSettings[i].field;
				this.mAdID = this.item[this.mAdID_field]+"";
			}
			if (this.overviewSettings[i].type == 'clickthrough_url') {
				this.mClickThroughURL_field = this.overviewSettings[i].field;
				this.mClickThroughURL = this.item[this.mClickThroughURL_field]+"";
			}
		}
		this.preItem = JSON.parse(JSON.stringify(this.item));
	},
	methods: {
		previewDialogOpen: function () {
			EventBus.$emit("previewBanner", { 
				bannerSize: this.bannerSize, 
				bannerID: this.item.ID,
				bannerVersion: this.item._published?2:1
			});
		},
		downloadUrl: function () {
			// Not secure, api should be available only for logged-in users
			if (this.item.Backup_Image_URL.substr(0,4) == 'http' && this.item.Backup_Image_URL.indexOf("bbanner") != -1) {
				return "/api/download/?url="+encodeURIComponent(this.item.Backup_Image_URL)+"&filename="+encodeURIComponent(this.item.Banner_Name+"_backup."+(this.item.Backup_Image_URL.split(".").pop()));
			} else {
				return false;
			}
		},
		changeState: function (state) {
			this.item._state = state;
		},
		rowState: function () {
			return this.item._state;
		},
		bannerRoute: function () {
			var tmp = JSON.parse(sessionStorage.getItem("cats"));
			for (var i in tmp) {
				if (this.$isset(tmp[i].title) && tmp[i].title == this.item.Car_Model) {
					tmp = false;
					break;
				}
			}
			if (tmp === false) {
				return "/admin/items/"+i+"/"+this.bannerSize+"/"+this.item.ID+"/";
			} else {
				return false;
			}
		},
		allowEditBannerButton: function () {
			return this.$parent.allowEditBannerButton();
		},
		clipboardSuccessHandler: function () {
			this.$toast.success("URL was successfully copied");
		},
		clipboardErrorHandler: function () {
			this.$toast.error("Unable to copy URL");
		}
	}
}
</script>
